<head>
    <link rel="stylesheet" href="StyleSheet.css" />
</head>

<body>
    <h1>ASYNC INN</h1>
    
    <h2>Welcome! Please make a selection:</h2>
    
    <h3>Hotels</h3>
    <h3>Hotel Rooms</h3>
    <h3>Rooms</h3>
    <h3>Amenities</h3>
    <h3>Link amenities to rooms</h3>
    <h3>Add rooms to hotels</h3>
</body>