<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Kumar+One+Outline" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>

<body>
    <header>
        <h1>ASYNC INN</h1>
    </header>

    <div class="main-container">
        <h2>-Welcome-</h2>
        <h2> Please make a selection:</h2>

        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Hotel" asp-action="Index">Hotel</a>
        <a asp-controller="HotelRoom" asp-action="Index">Hotel Rooms</a>
        <a asp-controller="Room" asp-action="Index">Rooms</a>
        <a asp-controller="RoomAmenities" asp-action="Index">Room Amenities</a>
        <a asp-controller="Amenities" asp-action="Index">Amenities</a>

    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>

