* {
    box-sizing: border-box;
}

body {
    background-image: url("HotelLobby.jpg");
    font-family: 'Josefin Sans', sans-serif;
    color: #202124;
}

header {
    margin-top: 140px;
}

h1 {
    font-family: 'Kumar One Outline', cursive;
    text-align: center;
    font-size: 100px;
    margin: 0;
    color: antiquewhite;
    line-height: 124px;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: lightgray;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: grey;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
    background: rgba(255,255, 255, 0.8);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.8);
    border-radius: 1px;
    color: #202124;
}

nav {
    padding: 20px 5px;
    display: flex;
    justify-content: space-around;
}

nav a {
    font-size: 1.4em;
    color: #202124;
    text-decoration: none;
}

.models {
    width: 1200px;
    margin: 0 auto;
    background: rgba(0,0,0,0.7);
    color: antiquewhite;
    box-sizing: border-box;
    padding: 16px 58px;
    font-size: 1.2em;
    line-height: 2.2em;
}

.models a {
    font-size: 1.2em;
    color: white;
}